<ion-header class="creoyou-header">

  <ion-navbar>
    <ion-title>Video</ion-title>
  </ion-navbar>



</ion-header>


<ion-content class="has-header">

  <ion-toolbar text-center>
    <button color="light" icon-start ion-button round (click)="uploadyourvideo();">
      <ion-icon name="cloud-upload"></ion-icon> Upload Your Video </button>
  </ion-toolbar>

  <img *ngIf="videos=='' || videos==null" img-preloader="assets/img/video-png.png" alt="Post Img" />
  <ion-grid>
    <!-- Home post by Video -->
    <ion-row *ngFor="let vdo of videos">
      <ion-col>
        <div class="post_wrap">
          <ion-list class="post_header">
            <ion-item class="" padding-horizontal>
              <ion-item (click)="videodetails(vdo)">
                <p>{{vdo.video_title | slice:0:20}}
                  <span *ngIf="vdo.video_title.length>20">.....</span>
                </p>

                <span>{{vdo.video_description | slice:0:100}}
                  <span *ngIf="vdo.video_description.length>100">.....</span>
                  <br/> {{vdo.creation_date | date:'fullDate'}} {{vdo.creation_date | date:'shortTime'}}</span>
              </ion-item>
              <div class="post_action">
                <ion-icon (click)="presentActionSheetforvideo(vdo, $event)" ios="ios-more" md="md-more"></ion-icon>
              </div>
            </ion-item>
          </ion-list>

          <ion-list class="post_body">


            <ion-item *ngIf="vdo.video_source==='Local Machine'">

              <div (tap)="playvideo(vdo.video_name)">
                <img src="{{base_url}}uploads/portfolioVideoSnapshots/{{vdo.snapshot_name}}" />
              </div>
              <img (tap)="playvideo(vdo.video_name)" class="play_img" src="assets/img/play.svg" width="50px">
              <!--  <video #videoPlayer (click)="playvideo(vdo.video_name)" poster="{{base_url}}uploads/portfolioVideoSnapshots/{{vdo.snapshot_name}}"
                controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                <source src="{{base_url}}uploads/portfolioVideos/{{vdo.video_name}}" type="video/mp4" />
              </video> -->
            </ion-item>

            <ion-item *ngIf="vdo.video_source==='You Tube'">
              <iframe #iframe width="100%" [src]="_DomSanitizer.bypassSecurityTrustResourceUrl(vdo?.video_name)" frameborder="0 " donotallowfullscreen></iframe>
            </ion-item>

          </ion-list>


          <ion-row class="post_activity">
            <ion-col (click)="likeThisvideo(vdo)" col-4 [class.active]="vdo.video_like>0">
              <ion-icon ios="ios-heart" md="md-heart"></ion-icon>
              <span>{{vdo.video_like}}</span>
            </ion-col>
            <ion-col col-4 (click)="showComments(vdo)">
              <ion-icon ios="ios-text" md="md-text"></ion-icon>
              <span>{{vdo.comment}}</span>
            </ion-col>
            <ion-col col-4 (click)="shareThisPost(vdo)" *ngIf="vdo.privacy==1">
              <ion-icon ios="ios-share" md="md-share"></ion-icon>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>



  </ion-grid>


  <ion-fab bottom right>
    <button ion-fab (click)="uploadyourvideo();" color="primary">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
  </ion-fab>

</ion-content>