<!--
  Generated template for the JobDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="creoyou-header">

  <ion-navbar>
    <ion-title>Job Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content-background">


  <ion-grid>
    <ion-row *ngFor="let job of jobdetails">


      <ion-col class="job_comapny_details" col-12>
        <img src="{{base_url}}uploads/profileImages/resizedImages/{{job.profile_image}}" alt="Image" />
        <h3>{{job.buisness_name}}</h3>
        <h2>{{job.job_title}}</h2>
        <p>
          <ion-icon ios="ios-locate" md="md-locate"></ion-icon> {{job.city}}, {{job.state}} and {{job.country}}</p>
      </ion-col>


      <ion-col class="job_content" col-12>
        <h3>{{job.description}}</h3>
        <p>{{job.job_title}}</p>
      </ion-col>

      <ion-col class="job_content" col-12>
        <h3>Required Experience</h3>
        <p>{{job.required_experience}}</p>
      </ion-col>

      <ion-col class="job_content" col-12>
        <h3>Required skill</h3>
        <p>{{job.required_skills}}</p>
      </ion-col>

      <ion-col class="job_content" col-12>
        <h3>Job Type </h3>
        <p>{{job.jobtype}}</p>
      </ion-col>

      <ion-col class="job_content" col-12>
        <h3>Salary </h3>
        <p>{{job.salary}}</p>
      </ion-col>

      <ion-col class="job_content" col-12>
        <h3>Last Date to Apply </h3>
        <p>{{job.deadline_for_application | date:'fullDate'}} | {{job.deadline_for_application | date:'shortTime'}}</p>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>

<ion-footer>
  <ion-toolbar class="button_bottom_top">
    <button *ngIf="apply" class="sign-up button button-block button-stable" (click)="applyjob(job)" [disabled]="apply">Already Apply</button>
    <button *ngIf="!apply" class="sign-up button button-block button-stable" (click)="applyjob()">Apply</button>
  </ion-toolbar>
</ion-footer>