<ion-header class="creoyou-header">

  <ion-navbar>
    <ion-title>{{albumname}}</ion-title>

    <ion-buttons end>
      <button *ngIf="touserid == currentuserid" (click)="editAlbum(album,$event);" class="edit" ion-button clear>
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-toolbar class="albumDes" (click)="viewdetails(albumname, albumdescription)">
    <span *ngIf="albumname">
      <b>Album Title : </b> {{albumname | slice:0:100}}
      <span *ngIf="albumname.length>100">...</span>
    </span>
    <br>
    <span *ngIf="albumdescription">
      <b>Album Description : </b> {{albumdescription | slice:0:100}}
      <span *ngIf="albumdescription.length>100">...</span>
    </span>
  </ion-toolbar>




  <ion-row>
    <ion-col col-6 *ngFor="let phto of albumphotos;" (click)="gotoPhotoView(album,phto.id);">
      <div class="album_wrap">
        <img img-preloader="{{base_url}}uploads/portfolioImages/resizedimages/{{phto.image_name}}" alt="Post Img" />
      </div>
    </ion-col>

  </ion-row>




  <ion-fab bottom right *ngIf="touserid == currentuserid">
    <button ion-fab (click)="upLoadImages()" color="primary">
      <i class="material-icons">add_a_photo</i>
    </button>
  </ion-fab>

</ion-content>