<ion-header class="creoyou-header">

    <ion-navbar>
        <ion-title>inbox</ion-title>
        <ion-buttons end>
            <button (tap)="unreadArchriveMsg($event)" class="ChatMore" ion-button clear>
                <ion-icon ios="ios-more" md="md-more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar class="chatSearch">
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    </ion-toolbar>

</ion-header>



<ion-content>

    <ion-list class="Chat_list unRead" *ngIf="archive">

        <ion-item *ngFor="let arcmsg of archivemessage" (click)="messageDetailsArchive(arcmsg);" padding-horizontal class="Chat_list_user">
            <ion-avatar item-left>
                <img *ngIf="arcmsg.image!=null && arcmsg.image!=''" src="{{base_url}}uploads/profileImages/resizedImages/{{arcmsg.image}}"
                />
                <img *ngIf="arcmsg.image==null || arcmsg.image==''" src="assets/img/management.png" />
            </ion-avatar>
            <ion-item class="Chat_list_right">
                <h3 *ngIf="arcmsg.fname">{{arcmsg.fname}} {{arcmsg.lname}}</h3>
                <h3 *ngIf="arcmsg.buisness_name">{{arcmsg.buisness_name}}</h3>

                <p class="Chat_text">{{arcmsg.content}}</p>
                <p class="Chat_time">
                    <ion-icon name="time"></ion-icon> {{arcmsg.creation_date | date:'fullDate'}} {{arcmsg.creation_date | date:'shortTime'}}</p>
            </ion-item>
        </ion-item>
    </ion-list>

    <ion-list class="Chat_list unRead" *ngIf="inbox">
        <ion-item *ngFor="let usermsg of usermessage" (click)="messageDetails(usermsg);" padding-horizontal class="Chat_list_user">
            <ion-avatar item-left>
                <img *ngIf="usermsg.image!=null && usermsg.image!=''" src="{{base_url}}uploads/profileImages/resizedImages/{{usermsg.image}}"
                />
                <img *ngIf="usermsg.image==null || usermsg.image==''" src="assets/img/management.png" />
            </ion-avatar>
            <ion-item class="Chat_list_right">
                <h3 *ngIf="usermsg.fname">{{usermsg.fname}} {{usermsg.lname}}</h3>
                <h3 *ngIf="usermsg.buisness_name">{{usermsg.buisness_name}}</h3>
                <p class="Chat_text">{{usermsg.content}}</p>
                <p class="Chat_time">
                    <ion-icon name="time"></ion-icon> {{usermsg.creation_date | date:'fullDate'}} {{usermsg.creation_date | date:'shortTime'}}</p>
            </ion-item>
            <span class="coun" *ngIf="usermsg.count>0">{{usermsg.count}}</span>
        </ion-item>
    </ion-list>


    <ion-fab bottom right>
        <button (click)="openNewMessage();" ion-fab color="primary">
            <ion-icon name="create"></ion-icon>
        </button>
    </ion-fab>

    <ion-infinite-scroll (ionInfinite)="fetchHomeData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>