<ion-header class="creoyou-header">

  <ion-navbar class="Cero_search">
    <ion-searchbar placeholder="People,Business,Job..." [(ngModel)]="searchQuery" (change)="search()"></ion-searchbar>
  </ion-navbar>

  <!--ion-row class="search_by">
    <ion-col col-3 (click)="All()">
      <span [class.active]="all">All</span>
    </ion-col>
    <ion-col col-3 (click)="People()">
      <span [class.active]="people">People</span>
    </ion-col>
    <ion-col col-3 (click)="Business()">
      <span [class.active]="business">Business</span>
    </ion-col>
    <ion-col col-3 (click)="Jobs()">
      <span [class.active]="jobs">Jobs</span>
    </ion-col>
  </ion-row-->

  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="searchbycatagory">
    <ion-segment-button value="all">
      All
    </ion-segment-button>
    <ion-segment-button value="people">
      People
    </ion-segment-button>
    <ion-segment-button value="business">
      Business
    </ion-segment-button>
    <ion-segment-button value="job">
      Jobs
    </ion-segment-button>
  </ion-segment>

</ion-header>


<ion-content class="has-header">


  <div [ngSwitch]="searchbycatagory">

    <!-- search_by all-->
    <div *ngSwitchCase="'all'">
      <!-- people-->

      <h3 class="search_heading">People</h3>
      <h4 class="notFound" *ngIf="people_user==''"> No Result Found... </h4>
      <ion-list *ngFor="let people of people_user; let i=index">

        <ion-item padding-horizontal class="search_user search_user_individual" *ngIf="i<3">
          <ion-avatar item-left (click)="OtherFrofileView(people)">
            <img *ngIf="people.image" img-preloader="{{base_url}}uploads/profileImages/resizedImages/{{people.image}}" alt="Image" />
            <img *ngIf="people.image=='' || people.image==null" img-preloader="assets/img/management.png" alt="Image" />
            <div *ngIf="people.premium_user==1" class="premimum_badge"></div>
          </ion-avatar>

          <ion-item class="search_right">
            <div (click)="OtherFrofileView(people)">
              <p *ngIf="people.users_full_name">{{people.users_full_name}}</p>

              <p class="user_deg" *ngIf="people.cat_name">
                <ion-icon name="briefcase"></ion-icon> {{people.cat_name}}</p>
              <p class="user_deg" *ngIf="people.cat_name=='' || people.cat_name==null">
                <ion-icon name="briefcase"></ion-icon> {{people.creativeField}}</p>
              <p class="user_deg">
                <ion-icon name="home" *ngIf="people.state || people.country || people.city"></ion-icon>
                <span *ngIf="people.city"> {{people.city}}</span>
                <span class="coma" *ngIf="people.state && people.city">,</span>
                <span *ngIf="people.state"> {{people.state}}</span>
                <span class="coma" *ngIf="people.state && people.country || people.city && people.country">,</span>
                <span *ngIf="people.country"> {{people.country}}</span>

              </p>
            </div>
            <div class="user_action" item-right *ngIf="user_id!=people.id">
              <button [disabled]="people.friend==1 || people.follower==1 || people.is_friend==1" ion-button block icon-right (click)="sendRequest(people)">
                <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon> Add</button>
              <button ion-button block icon-right [disabled]="people.friend==1 || people.follower==1 || people.is_friend==1" (click)="sendfollowingRequest(people)">
                <i class="material-icons">forward</i> Follow</button>
            </div>
          </ion-item>
        </ion-item>
      </ion-list>

      <!-- Business-->

      <h3 class="search_heading">Business</h3>
      <h4 class="notFound" *ngIf="business_user==''"> No Result Found... </h4>
      <ion-list *ngFor="let business of business_user; let i=index">

        <ion-item padding-horizontal class="search_user search_user_individual" *ngIf="i<3">
          <ion-avatar item-left (click)="OtherFrofileView(business)">
            <img *ngIf="business.image" img-preloader="{{base_url}}uploads/profileImages/resizedImages/{{business.image}}" alt="Image"
            />
            <img *ngIf="business.image=='' || business.image==null" img-preloader="assets/img/management.png" alt="Image" />
            <div *ngIf="business.premium_user==1" class="premimum_badge"></div>


          </ion-avatar>

          <ion-item class="search_right">
            <div (click)="OtherFrofileView(business)">
              <p>{{business.buisness_name}}</p>
              <p class="user_deg" *ngIf="business.cat_name">
                <ion-icon name="briefcase"></ion-icon> {{business.cat_name}}</p>
              <p class="user_deg" *ngIf="business.creativeField">
                <ion-icon name="briefcase"></ion-icon> {{business.creativeField}}</p>

              <p class="user_deg">
                <ion-icon name="home" *ngIf="business.state || business.country || business.city"></ion-icon>
                <span *ngIf="business.city"> {{business.city}}</span>
                <span class="coma" *ngIf="business.city && business.state">,</span>
                <span *ngIf="business.state"> {{business.state}}</span>
                <span class="coma" *ngIf="business.city && business.country || business.state && business.country">,</span>
                <span *ngIf="business.country"> {{business.country}}</span>

              </p>
            </div>
            <div class="user_action" item-right *ngIf="user_id!=business.id">
              <button [disabled]="business.friend==1 || business.follower==1 || business.is_friend==1" ion-button block icon-right (click)="sendRequest(business)">
                <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon> Add </button>
              <button ion-button block icon-right [disabled]="business.friend==1 || business.follower==1 || business.is_friend==1" (click)="sendfollowingRequest(business)">
                <i class="material-icons">forward</i> Follow </button>
            </div>
          </ion-item>
        </ion-item>
      </ion-list>

      <!-- job-->
      <h3 class="search_heading">Job</h3>
      <h4 class="notFound" *ngIf="jobs_user==''"> No Result Found... </h4>
      <ion-list *ngFor="let jobs of jobs_user; let i=index">

        <ion-item padding-horizontal class="search_user search_user_individual" *ngIf="i<3" (click)="jobdetails(jobs)">
          <ion-avatar item-left>
            <img *ngIf="jobs.image!='' && jobs.image!=null" img-preloader="{{base_url}}uploads/profileImages/resizedImages/{{jobs.image}}"
            />
            <img *ngIf="jobs.image=='' || jobs.image==null" img-preloader="assets/img/management.png" />

          </ion-avatar>

          <ion-item class="search_right">
            <p class="Company_name" *ngIf="jobs.buisness_name">{{jobs.buisness_name}}</p>
            <p class="Company_name" *ngIf="jobs.fname">{{jobs.fname}} {{jobs.lname}}</p>
            <p *ngIf="jobs.job_title">
              <ion-icon name="briefcase"></ion-icon> {{jobs.job_title}}</p>
            <p class="user_deg"> Required Experience : {{jobs.required_experience}} </p>
            <p class="user_deg" *ngIf="jobs.cat_name">{{jobs.cat_name}}</p>
            <p class="user_deg">
              <span *ngIf="jobs.city">{{jobs.city}}</span>
              <span class="coma" *ngIf="jobs.city && jobs.state">,</span>
              <span *ngIf="jobs.state"> {{jobs.state}}</span>
              <span class="coma" *ngIf="jobs.state && jobs.country || jobs.city && jobs.country">,</span>
              <span *ngIf="jobs.country"> {{jobs.country}}</span>

            </p>
            <p class="user_deg" *ngIf="jobs.second<60">{{jobs.second }} Second ago | {{jobs.jobtype}}</p>
            <p class="user_deg" *ngIf="jobs?.minute<60 && jobs.second>60">{{jobs?.minute }} Minute ago | {{jobs.jobtype}}</p>
            <p class="user_deg" *ngIf="jobs.hour<24 && jobs.minute>60">{{jobs.hour}} hours ago | {{jobs.jobtype}}</p>
            <p class="user_deg" *ngIf="jobs.hour>24 && jobs.weeks<2">{{jobs.days}} Days ago | {{jobs.jobtype}}</p>
            <p class="user_deg" *ngIf="jobs.weeks>1">{{jobs.weeks}} Weeks ago | {{jobs.jobtype}}</p>
            <div class="user_action" item-right>
              <img *ngIf="jobs.is_ad==1" img-preloader="assets/img/ad.png" alt="Image" />
            </div>

          </ion-item>
        </ion-item>

      </ion-list>

    </div>



    <!-- search_by people-->

    <div *ngSwitchCase="'people'">

      <h4 class="filter" (click)="searchfilter()">
        <ion-icon md="md-funnel"></ion-icon> Filter
      </h4>
      <h4 class="notFound" *ngIf="people_user==''">No Result Found...</h4>
      <ion-list *ngFor="let people of people_user">

        <ion-item padding-horizontal class="search_user search_user_individual">
          <ion-avatar item-left (click)="OtherFrofileView(people)">
            <img *ngIf="people?.image" img-preloader="{{base_url}}uploads/profileImages/resizedImages/{{people.image}}" alt="Image" />
            <img *ngIf="people?.image=='' || people?.image==null && people?.profile?.image==null" img-preloader="assets/img/management.png"
              alt="Image" />
            <div *ngIf="people.premium_user==1" class="premimum_badge"></div>
          </ion-avatar>
          <ion-item class="search_right">
            <div (click)="OtherFrofileView(people)">
              <p *ngIf="people.fname">{{people.fname}} {{people.lname}}</p>

              <p class="user_deg" *ngIf="people.cat_name">
                <ion-icon name="briefcase"></ion-icon> {{people.cat_name}}</p>
              <p class="user_deg" *ngIf="people.cat_name=='' || people.cat_name==null">
                <ion-icon name="briefcase"></ion-icon> {{people.creativeField}}</p>
              <p class="user_deg">
                <ion-icon name="home" *ngIf="people.state || people.country || people.city"></ion-icon>
                <span *ngIf="people.city"> {{people.city}}</span>
                <span class="coma" *ngIf="people.city && people.state">,</span>
                <span *ngIf="people.state"> {{people.state}}</span>
                <span class="coma" *ngIf="people.city && people.country || people.state && people.country">,</span>
                <span *ngIf="people.country"> {{people.country}}</span>

              </p>

            </div>
            <div class="user_action" item-right *ngIf="user_id!=people.id">
              <button [disabled]="people.friend==1 || people.follower==1 || people.is_friend==1" ion-button block icon-right (click)="sendRequest(people)">
                <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon> Add </button>
              <button ion-button block icon-right [disabled]="people.friend==1 || people.follower==1 ||  people.is_friend==1" (click)="sendfollowingRequest(people)">
                <i class="material-icons">forward</i> Follow </button>
            </div>
          </ion-item>
        </ion-item>
      </ion-list>



    </div>

    <!-- search_by business-->


    <div *ngSwitchCase="'business'">
      <h4 class="filter" (click)="searchfilter()">
        <ion-icon md="md-funnel"></ion-icon> Filter
      </h4>
      <h4 class="notFound" *ngIf="business_user==''">No Result Found...</h4>
      <ion-list *ngFor="let business of business_user">

        <ion-item padding-horizontal class="search_user search_user_individual">
          <ion-avatar item-left (click)="OtherFrofileView(business)">
            <img *ngIf="business.image!='' && business.image!=null" img-preloader="{{base_url}}uploads/profileImages/resizedImages/{{business.image}}"
              alt="Image" />
            <img *ngIf="business.image=='' || business.image==null" img-preloader="assets/img/management.png" alt="Image" />
            <div *ngIf="business.premium_user==1" class="premimum_badge"></div>
          </ion-avatar>

          <ion-item class="search_right">
            <div (click)="OtherFrofileView(business)">
              <p *ngIf="business.buisness_name">{{business.buisness_name}}</p>

              <p class="user_deg" *ngIf="business.cat_name">
                <ion-icon name="briefcase"></ion-icon> {{business?.cat_name}}</p>

              <p class="user_deg" *ngIf="business.creativeField">
                <ion-icon name="briefcase"></ion-icon> {{business?.creativeField}}</p>


              <p class="user_deg">
                <ion-icon name="home" *ngIf="business.state || business.country || business.city"></ion-icon>
                <span *ngIf="business.city">{{business.city}}</span>
                <span class="coma" *ngIf="business.city && business.state">,</span>
                <span *ngIf="business.state"> {{business.state}}</span>
                <span class="coma" *ngIf="business.city && business.country || business.state && business.country">,</span>
                <span *ngIf="business.country"> {{business.country}}</span>

              </p>
            </div>
            <div class="user_action" item-right *ngIf="user_id!=business.id">
              <button [disabled]="business.friend==1 || business.follower==1 || business.is_friend==1" ion-button block icon-right (click)="sendRequest(business)">
                <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon> Add </button>
              <button ion-button block icon-right [disabled]="business.friend==1 || business.follower==1 || business.is_friend==1" (click)="sendfollowingRequest(business)">
                <i class="material-icons">forward</i> Follow </button>
            </div>
          </ion-item>
        </ion-item>

      </ion-list>

    </div>

    <!-- search_by job-->


    <div *ngSwitchCase="'job'">
      <h4 class="filter" (click)="searchfilter()">
        <ion-icon md="md-funnel"></ion-icon> Filter
      </h4>
      <h4 class="notFound" *ngIf="jobs_user==''">No Result Found...</h4>
      <ion-list *ngFor="let jobs of jobs_user">

        <ion-item padding-horizontal class="search_user search_user_individual">
          <ion-avatar item-left>
            <img *ngIf="jobs.image" img-preloader="{{base_url}}uploads/profileImages/resizedImages/{{jobs.image}}" alt="Image" />
            <img *ngIf="jobs.image=='' || jobs.image==null" img-preloader="assets/img/management.png" alt="Image" />


          </ion-avatar>
          <ion-item class="search_right">
            <p class="Company_name" (click)="OtherProfile(jobs)" *ngIf="jobs.buisness_name">{{jobs.buisness_name}}</p>
            <p class="Company_name" (click)="OtherProfile(jobs)" *ngIf="jobs.fname">{{jobs.fname}} {{jobs.lname}}</p>
            <div (click)="jobdetails(jobs)">
              <p *ngIf="jobs.job_title">
                <ion-icon name="briefcase"></ion-icon> {{jobs.job_title}}</p>
              <p class="user_deg"> Required Experience : {{jobs.required_experience}} </p>
              <p class="user_deg" *ngIf="jobs.cat_name">{{jobs.cat_name}}</p>
              <p class="user_deg" *ngIf="jobs.state || jobs.country || jobs.city">
                <span *ngIf="jobs.city"> {{jobs.city}}</span>
                <span class="coma" *ngIf="jobs.city && jobs.state">,</span>
                <span *ngIf="jobs.state"> {{jobs.state}}</span>
                <span class="coma" *ngIf="jobs.city && jobs.country || jobs.country && jobs.state">,</span>
                <span *ngIf="jobs.country">{{jobs.country}}</span>
              </p>
              <p class="user_deg" *ngIf="jobs.second<60">{{jobs.second }} Second ago | {{jobs.jobtype}}</p>
              <p class="user_deg" *ngIf="jobs.minute<60 && jobs.second>60">{{jobs.minute }} Minute ago | {{jobs.jobtype}}</p>
              <p class="user_deg" *ngIf="jobs.hour<24 && jobs.minute>60">{{jobs.hour}} hours ago | {{jobs.jobtype}}</p>
              <p class="user_deg" *ngIf="jobs.hour>24 && jobs.weeks<2">{{jobs.days}} Days ago | {{jobs.jobtype}}</p>
              <p class="user_deg" *ngIf="jobs.weeks>1">{{jobs.weeks}} Weeks ago | {{jobs.jobtype}}</p>
            </div>
            <div class="user_action" item-right>
              <img *ngIf="jobs.is_ad==1" img-preloader="assets/img/ad.png" alt="Image" />
            </div>

          </ion-item>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>