<ion-header class="creoyou-header">

  <ion-navbar>
    <ion-title *ngIf="editsection=='name'">Change username</ion-title>
    <ion-title *ngIf="editsection=='email'">Change Email</ion-title>
    <ion-title *ngIf="editsection=='mobile'">Change mobile number</ion-title>
    <ion-title *ngIf="editsection=='changepass'">Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="content-background">

  <ion-list *ngIf="editsection=='name'">
    <form [formGroup]="FormRegistrationStepFour">
      <ion-item class="edit_item">
        <ion-label color="default" floating>Change Name</ion-label>
        <ion-input [(ngModel)]="username" formControlName="username" required></ion-input>
      </ion-item>
      <span class="unique_info">
        Your username is unique and will be used to form your custom URL:
        <a>www.creoyou.com/username</a>
      </span>
      <span class="error" *ngIf="FormRegistrationStepFour.get('username').hasError('pattern') && (FormRegistrationStepFour.get('username').touched)">
        Only characters and numbers allowed
      </span>
      <span class="error" *ngIf="FormRegistrationStepFour.get('username').hasError('required') && (FormRegistrationStepFour.get('username').touched)">
        Username is required
      </span>
      <span class="error" *ngIf="FormRegistrationStepFour.get('username').hasError('Inuse') && (FormRegistrationStepFour.get('username').touched)">
        Username is already taken
      </span>
      <span class="error" *ngIf="FormRegistrationStepFour.get('username').hasError('minlength') && (FormRegistrationStepFour.get('username').touched)">
        Minimum of 4 characters
      </span>
      <span class="error" *ngIf="FormRegistrationStepFour.get('username').hasError('maxlength') && (FormRegistrationStepFour.get('username').touched)">
        Maximum of 50 characters
      </span>
      <span class="personal_loader" *ngIf="FormRegistrationStepFour.controls.username.pending">
        <ion-spinner name="bubbles"></ion-spinner>.
      </span>
    </form>


  </ion-list>


  <ion-list *ngIf="editsection=='email'">
    <form [formGroup]="FormRegistrationStepOne">
      <ion-item class="edit_item">
        <ion-label color="default" floating>Change Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" formControlName="email" (ngModelChange)="email= $event.toLocaleLowerCase()"></ion-input>
      </ion-item>
      <span *ngIf="FormRegistrationStepOne.controls.email.pending && (FormRegistrationStepOne.controls.email.dirty)">
        <ion-spinner name="bubbles"></ion-spinner>
      </span>
      <span class="error" *ngIf="FormRegistrationStepOne.get('email').hasError('Inuse') && 
  (FormRegistrationStepOne.controls.email.dirty)">
        This email is already registered on another CreoYou account
      </span>
    </form>
  </ion-list>

  <ion-list class="Change_password" *ngIf="editsection=='mobile'">
    <form [formGroup]="FormRegistrationStepTwo" (ngSubmit)="changemobilenumber(FormRegistrationStepTwo.value)">

      <ion-item class="edit_item select_edit ">
        <ion-toolbar color="default">Change Mobile Number</ion-toolbar>
        <ion-select item-left formControlName="mobilecode" multiple="false" class="mobile-code">
          <ion-option value="{{item.dial_code}}" *ngFor="let item of countryCode">{{item.name}} {{item.dial_code}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="edit_item">
        <ion-input [(ngModel)]="mobile" formControlName="mobileno" required></ion-input>
      </ion-item>
      <span *ngIf="FormRegistrationStepTwo.controls.mobileno.pending">
        <ion-spinner name="bubbles"></ion-spinner>
      </span>
      <span class="error" *ngIf="FormRegistrationStepTwo.get('mobileno').hasError('pattern') && (FormRegistrationStepTwo.get('mobileno').touched || submitAttempt)">
        Mobile number should be only numbers
      </span>
      <span class="error" *ngIf="FormRegistrationStepTwo.get('mobileno').hasError('required') && (FormRegistrationStepTwo.get('mobileno').touched || submitAttempt)">
        Mobile no is required
      </span>
      <span class="error" *ngIf="FormRegistrationStepTwo.get('mobilecode').hasError('required') && (FormRegistrationStepTwo.get('mobileno').touched || submitAttempt)">
        Mobile code is required
      </span>
      <span class="error" *ngIf="FormRegistrationStepTwo.get('mobileno').hasError('Inuse') && (FormRegistrationStepTwo.get('mobileno').touched || submitAttempt)">
        This mobile number is already registered on another CreoYou account
      </span>
      <span class="error" *ngIf="FormRegistrationStepTwo.get('mobileno').hasError('minlength') && (FormRegistrationStepTwo.get('mobileno').touched || submitAttempt)">
        Valid mobile number is required
      </span>
      <span class="error" *ngIf="FormRegistrationStepTwo.get('mobileno').hasError('maxlength') && (FormRegistrationStepTwo.get('mobileno').touched || submitAttempt)">
        Valid mobile number is required
      </span>
    </form>

  </ion-list>

  <ion-list class="Change_password" *ngIf="editsection=='changepass'">
    <form [formGroup]="FormRegistrationStepThree">
      <ion-item class="edit_item">
        <ion-label color="default" floating>Current Password</ion-label>
        <ion-input type="password" [(ngModel)]="oldpass" formControlName="oldpass" required></ion-input>
      </ion-item>
      <ion-item class="edit_item">
        <ion-label color="default" floating>New Password</ion-label>
        <ion-input type="password" (keyup)="setConfirmPasswordBlank()" [(ngModel)]="password" formControlName="password" required></ion-input>
      </ion-item>

      <span class="error" *ngIf="FormRegistrationStepThree.get('password').hasError('required') && (FormRegistrationStepThree.get('password').touched)">
        Password is required
      </span>

      <span class="error" *ngIf="FormRegistrationStepThree.get('password').hasError('pattern')  && (FormRegistrationStepThree.get('password').touched)">
        <p>Passwords must have 8 characters or more with at least 1 uppercase letter and 1 number</p>
      </span>

      <ion-item class="edit_item">
        <ion-label color="default" floating>Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="confirmpassword" formControlName="confirmpassword" required></ion-input>
      </ion-item>
      <span class="error" *ngIf="FormRegistrationStepThree.get('confirmpassword').hasError('equalTo')
      && (FormRegistrationStepThree.controls.confirmpassword.dirty)">
        Please enter same password
      </span>
    </form>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar class="button_bottom_top">
    <button *ngIf="editsection=='name'" class="sign-up button button-block button-stable" [disabled]="name==''" (click)="updateDetails()">Update User Name</button>
    <button *ngIf="editsection=='email'" class="sign-up button button-block button-stable" (click)="updateemail()">Update Email</button>
    <button *ngIf="editsection=='mobile'" class="sign-up button button-block button-stable" (click)="changemobilenumber()">Update Mobile Number</button>
    <button *ngIf="editsection=='changepass'" class="sign-up button button-block button-stable" (click)="Changepassword()">Update Password</button>
  </ion-toolbar>
</ion-footer>