<ion-header class="creoyou-header">

  <ion-navbar>
    <ion-title *ngIf="editsection=='name'">Change Name</ion-title>
    <ion-title *ngIf="editsection=='email'">Change Email</ion-title>
    <ion-title *ngIf="editsection=='mobile'">Change Mobile No</ion-title>
    <ion-title *ngIf="editsection=='changepass'">Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="content-background">

  <ion-list *ngIf="editsection=='name'">
    <ion-item class="edit_item">
      <ion-label color="default" floating>Change Name</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-footer>
      <ion-toolbar class="button_bottom_top">
        <button class="sign-up button button-block button-stable" [disabled]="name==''" (click)="updateDetails()">Update User Name</button>
      </ion-toolbar>
    </ion-footer>
  </ion-list>

  <ion-list *ngIf="editsection=='email'">
    <ion-item class="edit_item">
      <ion-label color="default" floating>Change Email</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-footer>
      <ion-toolbar class="button_bottom_top">
        <button class="sign-up button button-block button-stable" [disabled]="email==''" (click)="updateemail()">Update Email</button>
      </ion-toolbar>
    </ion-footer>

  </ion-list>
  <ion-list *ngIf="editsection=='mobile'">
    <form [formGroup]="FormRegistrationStepTwo" (ngSubmit)="changemobilenumber(FormRegistrationStepTwo.value)">
      <ion-item class="edit_item">
        <ion-toolbar color="default">Change Mobile Number</ion-toolbar>
        <ion-select item-left formControlName="mobilecode" multiple="false" class="mobile-code">
          <ion-option value="{{item.dial_code}}" *ngFor="let item of countryCode">{{item.dial_code}}</ion-option>
        </ion-select>
        <ion-input [(ngModel)]="mobile" formControlName="mobileno"></ion-input>
      </ion-item>
      <ion-footer>
        <ion-toolbar class="button_bottom_top">
          <button class="sign-up button button-block button-stable">Update Mobile Number</button>
        </ion-toolbar>
      </ion-footer>
    </form>
  </ion-list>

  <ion-list class="Change_password" *ngIf="editsection=='changepass'">
    <ion-item class="edit_item">
      <ion-label color="default" floating>Current Password</ion-label>
      <ion-input type="password" [(ngModel)]="oldpass"></ion-input>
    </ion-item>
    <ion-item class="edit_item">
      <ion-label color="default" floating>New Password</ion-label>
      <ion-input type="password" [(ngModel)]="newpass"></ion-input>
    </ion-item>
    <ion-item class="edit_item">
      <ion-label color="default" floating>Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmpass"></ion-input>
    </ion-item>
    <ion-footer>
      <ion-toolbar class="button_bottom_top">
        <button class="sign-up button button-block button-stable" (click)="Changepassword()">Update Password</button>
      </ion-toolbar>
    </ion-footer>
  </ion-list>
</ion-content>