<ion-header class="creoyou-header">

    <ion-navbar>
        <ion-title>Photo Views</ion-title>

        <ion-buttons end>
            <button *ngIf="touserid == currentuserid" (tap)="editImg()" class="edit" ion-button clear>
                <ion-icon name="settings"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>



</ion-header>


<ion-content>



    <ion-slides (ionSlideDidChange)="slideChanged()">

        <ion-slide *ngFor="let phto of albumphotos">
            <img img-preloader="{{base_url}}uploads/portfolioImages/{{phto?.image_name}}" alt="Post Img" />
            <p class="ImgTitle" *ngIf="phto.image_title">
                <b>Title : {{phto.image_title | slice:0:20}}</b>
                <span *ngIf="phto.image_title.length>20" (click)="viewdetails(phto)">...More</span>
            </p>
            <p class="ImgDes" *ngIf="phto.image_description">
                <b>Description : </b>{{phto.image_description | slice:0:20}}
                <span *ngIf="phto?.image_description?.length>20" (click)="viewdetails(phto)">...More</span>
            </p>

            <p class="ImgDes" *ngIf="phto.image_keywords">
                <b>Keyword : </b>{{phto.image_keywords | slice:0:20}}
                <span *ngIf="phto?.image_keywords?.length>20" (click)="viewdetails(phto)">...More</span>
            </p>

        </ion-slide>


    </ion-slides>


</ion-content>

<ion-footer>
    <ion-row class="post_activity">
        <ion-col (click)="likeThisimage(currentimage);" col-4 [class.active]="currentimage?.likeActive>0">
            <ion-icon ios="ios-heart" md="md-heart"></ion-icon>
            <span>{{currentimage?.image_like}}</span>
        </ion-col>
        <ion-col col-4 (click)="showComments(currentimage)">
            <ion-icon ios="ios-text" md="md-text"></ion-icon>
            <span>{{currentimage?.count}}</span>
        </ion-col>
        <ion-col (click)="shareThisPost(currentimage);" col-4 *ngIf="albumdetails?.privacy==1">
            <ion-icon ios="ios-share" md="md-share"></ion-icon>
            <span>{{currentimage?.image_viewed}}</span>
        </ion-col>
    </ion-row>
</ion-footer>