<ion-header class="creoyou-header">

  <ion-navbar>
    <ion-title *ngIf="pagename=='Past'">{{pagename}} Events</ion-title>
    <ion-title *ngIf="pagename=='Upcoming'">Upcoming/Ongoing Events</ion-title>
    <ion-buttons end (click)="eventcalender()">
      <button class="add_connection" ion-button clear>
        <i class="material-icons">perm_contact_calendar</i>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>

    <h2 class="no_result" *ngIf="eventlist==''">
      <span *ngIf="pagename=='Upcoming'">No Upcoming Events</span>
      <span *ngIf="pagename=='Past'">No Past Events</span>
    </h2>

    <ion-row *ngFor="let event of eventlist">
      <ion-col class="EventContainer">
        <ion-list class="eventHeader" (click)="eventDetails(event)">
          <ion-item>
            <p class="EventTitle" *ngIf="event.name">{{event.name | slice:0:20}}
              <span *ngIf="event.name.length>20">...</span>
            </p>
            <p *ngIf="event.user_type==2">by {{event.buisness_name}}</p>
            <p *ngIf="event.user_type==1">by {{event.fname}} {{event.lname}}</p>
            <p class="EventUser"></p>
            <p>{{event.start_date_time | date:'mediumDate'}} | {{event.start_date_time | date:'shortTime'}} - {{event.end_date_time
              | date:'mediumDate'}} | {{event.end_date_time | date:'shortTime'}}</p>
            <p>{{event.location}}</p>

            <div class="post_action" (tap)="editevent(event)" *ngIf="currentuserid == event.hosted_by">
              <ion-icon name="settings"></ion-icon>
            </div>
          </ion-item>
        </ion-list>

        <ion-list class="EventBody">
          <ion-item>
            <img *ngIf="event.event_image!='' && event.event_image!=null" src="{{base_url}}uploads/eventsImages/{{event.event_image}}"
            />
            <img *ngIf="event.event_image=='' || event.event_image==null" src="assets/img/management.png" alt="avatar">

            <div class="check_class" *ngIf="pagename=='Upcoming'">
              <span *ngIf="event.friends_can_invite==1" (click)="inviteConnection(event)">Invite</span>
              <span (click)="addtocalendarEvent(event)">Add to calendar</span>
            </div>
            <div class="EventDetails" (click)="eventDetails(event)">
              {{event.description | slice:0:113}}
              <span *ngIf="event.description.length>110">.....</span>
            </div>
            <div class="EventDate">
              <span>{{event.start_date_time | date:'dd'}}</span>
              {{event.start_date_time | date:'MMMM'}}
            </div>
          </ion-item>

        </ion-list>

        <ion-row class="post_activity">
          <ion-col col-4 [class.active]="event.likeActive>0">
            <ion-icon ios="ios-heart" md="md-heart" (click)="likeThisitem(event)"></ion-icon>
            <span>{{event.likes}}</span>
          </ion-col>
          <ion-col col-4>
            <ion-icon ios="ios-text" md="md-text" (click)="showComments(event)"></ion-icon>
            <span *ngIf="event.count=='count'"></span>
            <span *ngIf="event.count!='count'">{{event.count}}</span>
          </ion-col>
          <ion-col col-4 *ngIf="event.event_status==1">
            <ion-icon ios="ios-share" md="md-share" (click)="shareThisPost(event);"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>



  <ion-fab bottom right>
    <button (click)="createEvent()" ion-fab color="primary">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>

</ion-content>