<ion-header class="creoyou-header">

  <ion-navbar>
    <ion-title>Privacy</ion-title>
  </ion-navbar>

  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="privacy">
    <ion-segment-button value="blocked">
      Blocked
    </ion-segment-button>
    <ion-segment-button value="hiddenposts">
      Hidden Posts
    </ion-segment-button>

    <ion-segment-button value="rejectedlist">
      Rejected List
    </ion-segment-button>

  </ion-segment>



</ion-header>


<ion-content>


  <div [ngSwitch]="privacy">

    <ion-list *ngSwitchCase="'blocked'">

      <ion-list *ngIf="unblocked">
        <ion-item class="no_result">
          <h3>No blocked users</h3>
        </ion-item>
      </ion-list>

      <ion-list class="individual" *ngFor="let bluser of blockuser">


        <ion-item padding-horizontal class="search_user search_user_individual" *ngIf="!unblocked">
          <ion-avatar item-left>
            <img *ngIf="bluser.image!='' && bluser.image!=null" src="{{base_url}}uploads/profileImages/resizedImages/{{bluser.image}}"
              alt="Image" />
            <img *ngIf="bluser.image=='' || bluser.image==null" src="assets/img/management.png" alt="avatar">
          </ion-avatar>
          <ion-item class="searcsh_right">
            <p *ngIf="bluser.user_type==1">{{bluser.fname}} {{bluser.lname}}</p>
            <p *ngIf="bluser.user_type==2">{{bluser.buisness_name}}</p>
            <p class="user_deg">
              <ion-icon name="briefcase"></ion-icon> {{bluser.creativeField}}</p>
            <div class="user_action" item-right>
              <button ion-button block icon-right (click)="unblockUser(bluser)">Unblock</button>
            </div>
          </ion-item>
        </ion-item>


      </ion-list>

    </ion-list>

    <ion-list *ngSwitchCase="'hiddenposts'">

      <ion-list *ngIf="unflowmsg">
        <ion-item class="no_result">
          <h3> {{unflowmsg}} </h3>
        </ion-item>
      </ion-list>

      <ion-list class="individual" *ngFor="let unuser of unflowuser">
        <ion-item padding-horizontal class="search_user search_user_individual">
          <ion-avatar item-left>
            <img *ngIf="unuser.image=='' && unuser.image==null" src="{{base_url}}uploads/profileImages/resizedImages/{{unuser.image}}"
              alt="Image" />
            <img *ngIf="unuser.image=='' || unuser.image==null" src="assets/img/management.png" alt="avatar">
          </ion-avatar>
          <ion-item class="searcsh_right">
            <p *ngIf="unuser.user_full_name">{{unuser.user_full_name}}</p>

            <p class="user_deg">
              <ion-icon name="briefcase"></ion-icon> {{unuser.creativeField}}</p>
            <div class="user_action" item-right>
              <button ion-button block icon-right (click)="Seepost(unuser)">See Post</button>
            </div>
          </ion-item>
        </ion-item>


      </ion-list>

    </ion-list>


    <ion-list *ngSwitchCase="'rejectedlist'">

      <ion-list *ngIf="rejectuser==''">
        <ion-item class="no_result">
          <h3> No denied requests </h3>
        </ion-item>
      </ion-list>

      <ion-list class="individual" *ngFor="let rejuser of rejectuser">
        <ion-item padding-horizontal class="search_user search_user_individual">
          <ion-avatar item-left>
            <img *ngIf="rejuser.image=='' && rejuser.image==null" src="{{base_url}}uploads/profileImages/resizedImages/{{rejuser.image}}"
              alt="Image" />
            <img *ngIf="rejuser.image=='' || rejuser.image==null" src="assets/img/management.png" alt="avatar">
          </ion-avatar>
          <ion-item class="searcsh_right">
            <p *ngIf="rejuser.users_full_name">{{rejuser.users_full_name}}</p>

            <p class="user_deg">
              <ion-icon name="briefcase"></ion-icon> {{rejuser.creativeField}}</p>
            <div class="user_action" item-right>
              <button (click)="acceptRequest(rejuser)" ion-button block icon-right>
                <ion-icon name="person-add"></ion-icon> Accept
              </button>
            </div>
          </ion-item>
        </ion-item>


      </ion-list>

    </ion-list>

  </div>



</ion-content>